
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #c9a7ee, #647ca6);
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}

#inputContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}   

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #e68900;
}

#listaTarefas {
    margin-top: 20px;
}

.tarefa {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.2s, background-color 0.3s;
}

.tarefa:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.2);
}

.tarefa span {
    flex: 1;
    font-size: 1rem;
}

.completa span {
    text-decoration: line-through;
    color: #ccc;
}


.btn-status {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: gray;
    margin-right: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-status:hover {
    transform: scale(1.1);
}

.btn-status.concluida {
    background-color: limegreen;
}


.tarefa button {
    background-color: #2196f3;
    margin-left: 5px;
}

.tarefa button:hover {
    background-color: #1976d2;
}

.tarefa button:last-child {
    background-color: #f44336;
}

.tarefa button:last-child:hover {
    background-color: #d32f2f;
}
